# node modules folder
node_modules/

# Editor/IDE files
.idea/
.vscode/

# NPM debug log
npm-debug.log

# Database folder (used for dev sqlite database)
db/

# CI service
.circleci/

# GitHub files
.github/
