{
    "extends": ["@atlauncher/eslint-config-atlauncher"],
    "rules": {
        "camelcase": [
            "error",
            {
                "properties": "never"
            }
        ],
        "consistent-return": "warn"
    }
}
