doctype html
html
    head
        meta(charset='utf-8')
        if meta.title
            title ATLauncher API - #{meta.title}
        else
            title ATLauncher API
        link(rel = 'stylesheet', type = 'text/css', href = '/css/docs.css')
    body
        div#wrapper
            !=content