doctype html
html
    head
        meta(charset='utf-8')
        if meta.title
            if meta.pretitle
                title ATLauncher API #{meta.pretitle} - #{meta.title}
            else
                title ATLauncher API - #{meta.title}
        else
            if meta.pretitle
                title ATLauncher API #{meta.pretitle}
            else
                title ATLauncher API
        link(rel = 'stylesheet', type = 'text/css', href = '/css/docs.css')
        link(rel='shortcut icon', href='/favicon.ico')
        meta(name='viewport', content='width=device-width, initial-scale=1')
    body
        nav
            #logo ATLauncher API
            label.toggle(for='drop') Menu
            input#drop(type='checkbox')
            ul.menu
                li
                    a(href='/docs') Home
                li
                    a(href='/docs/authentication') Authentication
                li
                    a(href='/docs/rate-limiting') Rate Limiting
                li
                    a(href='/docs/roles') Roles
                li
                    label.toggle(for='drop-1') Versions +
                    a(href='#') Versions
                    input#drop-1(type='checkbox')
                    ul
                        li
                            a(href='/docs/v1') v1
        div#wrapper
            !=content